langchain-core==0.3.63
langchain-openai==0.3.18
langgraph==0.4.7
pydantic==2.11.4
python-dotenv==1.1.0
yt-dlp==2024.7.10
faiss-cpu==2.0.0
langchain-teddynote==0.0.2
langchain==0.2.9
langchain-community==0.2.9 